* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
    grid-template-areas: "menu menu menu art art art art art art art" 
    "playlists playlists playlists art art art art art art art"
    "playlists playlists playlists songs songs songs songs songs songs songs"
    "playlists playlists playlists songs songs songs songs songs songs songs"
    "playlists playlists playlists songs songs songs songs songs songs songs"
    "current-song current-song current-song current-song current-song current-song current-song current-song current-song current-song";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 16.5vh 16.5vh 16.5vh 16.5vh 16.5vh 9vh;
    gap: 10px;
    background-color: rgb(0,0,0);
    padding: 10px
}

.menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(18,18,18);
    border-radius: 10px
}

.home{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    color: rgb(179,179,179);
}

.search{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    color: rgb(179,179,179)
}

.home:hover, .search:hover{
    color:white;
    cursor: grab;
}

.fa-house, .magnifying-glass-1{
    margin-top: 20px
}

.playlists{
    grid-area: playlists;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
    background-color: rgb(18,18,18);
}

.header-playlists{
    display: flex;
    justify-content: space-between;
    color: rgb(179,179,179)
}

.left-header, .right-header{
    display: flex;
    gap: 20px
}

.left-header:hover{
    color:white;
    cursor:grab
}

.left-header{
    margin-left: 20px
}

.right-header{
    margin-right: 20px
}

.fa-record-vinyl, .fa-plus, .fa-arrow-right{
    font-size: 20px;
    margin-top: 20px;
}

.fa-plus:hover, .fa-arrow-right:hover{
    color:white;
    cursor:grab
}

.selectors-playlists{
    display: flex;
    margin-left: 20px;
    gap: 10px
}

.btn-selector{
    color:rgb(36,36,36);
    background-color:rgb(229,229,229);
    border-radius:15px;
    border: none;
    padding: 8px
}

.btn-selector:hover{
    background-color:rgb(43,42,43);
    color:rgb(255,255,255);
    cursor:grab
}

.search-recents{
    display: flex;
    justify-content: space-between;
    color:rgb(185,185,185);
    margin-left: 20px
}

.magnifying-glass-2, .fa-caret-down{
    font-size: 15px;
    margin-top: 22px
}

.recents-down-menu{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    gap: 10px;
}

.recents-down-menu:hover, .magnifying-glass-2:hover{
    color: rgb(255,255,255);
    cursor:grab
}

.album-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    overflow: auto;

}

.album-list::-webkit-scrollbar{
    background-color: transparent;
}

.album{
    display: flex;
    height: 50px;
    gap: 10px;
}

.album:hover{
    background-color: rgb(46,45,45);
    cursor:grab;
    border-radius:5px;
}

.album-covers{
    margin-left: 20px;
    height:50px;
    border-radius: 5px
}
.album-info{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.album-name{
    color:rgb(255,255,255)
}

.album-artist{
    color:rgb(157,157,157)
}

.art{
    grid-area: art;
    background-image:url(./images/beatles-background.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position:top;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.art-icons{
    display:flex;
    justify-content: space-between;
}

.arrow-icons{
    display: flex;
    gap:10px;
    font-size: 35px;
    margin-top: 15px;
    margin-left: 30px;
}

.user-icons{
    display:flex;
    gap:10px;
    font-size:25px;
    margin-top:18px;
    margin-right: 30px;
}

.fa-circle-arrow-left:hover, .fa-circle-arrow-right:hover, .fa-user:hover, .fa-users:hover{
    cursor:grab;
}

.verified-artist{
    color:rgb(255,255,255);
    display: flex;
    gap:10px;
    margin-left: 30px;
    margin-top: 15px;
}

.fa-check{
    margin-top: 17px
}

.artist-name{
    font-size: 100px;
    margin-left: 30px;
    color: rgb(255,255,255);
    font-weight: bolder;
}

.artist-listeners{
    font-size: 15px;
    color: rgb(255,255,255);
    margin-left: 30px;
}

.section{
    grid-area: songs;
    display: flex;
    flex-direction: column;
}

.play-follow-more{
    display: flex;
    gap: 20px;
    margin-left: 30px;
    margin-top:20px;
    align-items: center;
}

.play-button{
    height: 75px;
    width: 75px;
    background-color: rgb(36,209,95);
    border-radius:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-play.green-icon, .fa-pause.green-icon{
    font-size: 30px;
}

.play-button:hover{
    background-color: rgb(37,218,99);
    cursor: grab;
}

.fa-ellipsis{
    color:rgb(165,165,165);
    font-size: 30px;
}

.fa-ellipsis:hover{
    color:rgb(248,248,248)
}

.songs{
    grid-area: songs;
    overflow: auto;
    background-color: rgb(18,18,18);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.songs::-webkit-scrollbar{
    background-color: transparent;
}

.follow-button{
    height: 40px;
    padding: 0 20px;
    border: 1px solid rgb(96,95,96);
    background-color: transparent;
    color: white
}

.follow-button:hover{
    border: 1px solid white
}

.popular{
    color: white;
    font-size: 25px;
    margin-top: 35px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.top-songs{
    display: block;
    gap: 5px;
    overflow: auto;
    flex-grow: 1;
}

.top-song{
    display: grid;
    grid-template-columns: 0.4fr 1fr 9fr 6fr 1fr 1fr 1fr;
    grid-template-areas: "number mini-album song-name song-listens heart time more";
    color: white;
    gap:10px;
    margin-top: 5px;
    margin-left: 40px;
    align-items: center;
    padding: 7px 7px 7px 20px;
}

.top-song:hover{
    background-color: rgb(46,45,45);
    border-radius: 10px;
}

.number{
    grid-area: number;
    color: rgb(177,177,177);
}

.fa-play, .fa-pause{
    font-size: 15px;
}

.mini-album{
    grid-area: mini-album;
    max-width: 100%;
}

.song-name{
    grid-area: song-name;
}

.song-listens{
    grid-area: song-listens;
    color: rgb(163,163,163);
}

.heart{
    grid-area: heart;
}

.fa-heart{
    font-size: 20px;
    color: rgb(218,218,218)
}

.fa-solid.fa-heart{
    font-size: 20px;
    color: rgb(255,255,255)
}

.fa-heart:hover{
    color:rgb(250,250,250)
}

.time{
    grid-area: time;
    color:rgb(140,140,140);
}

.more{
    grid-area: more;
}

.current-song{
    grid-area: current-song;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 7fr 1fr 8fr 3fr 4fr;
    grid-template-areas: "current-song-album cs-heart song-playing . current-icons";
}

.current-song-album{
    grid-area: current-song-album;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.cs-album{
    max-height: 100%;
    width: 15%;
    object-fit: contain;
    border-radius: 10px;
}

.cs-song-details{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 5px;
}

.cs-name{
    font-size: 15px
}

.cs-artist{
    font-size: 12px;
    color: rgb(174, 174, 174)
}

.cs-heart{
    grid-area: cs-heart;
    height: 100%;
    display: flex;
}

.fa-heart.cs-heart-icon{
    align-self: center;
    font-size: 15px;
    color: rgb(144, 144, 144)
}

.fa-heart.cs-heart-icon:hover{
    color: white
}

.song-playing{
    grid-area: song-playing;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-icons{
    grid-area: current-icons;
    display: flex;
    gap: 13px;
    color: rgb(226, 226, 226);
    align-items: center;
    justify-content: center;
    margin-right: 20px
}

.cs-icon:hover{
    color: white;
}

.progress{
    width: 100px;
    height: 10px;
}